/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}
/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  overflow: hidden;
  position: relative;
  .slide {
    height: 60vh;
    display: flex;
    align-items: center;

    .content-wrapper {
      width: 100%;
      height: auto;
      max-width: 1300px;
      margin: 0 auto;

      padding: 40px 20px;
      display: grid;

      p {
        max-width: 520px;
      }
    }

    &.slide-1 {
      // background: url("../img/hero@2x.jpg") bottom center / cover;
      background: $color-dark;
    }
    &.slide-2 {
      // background: url("../img/hero@2x.jpg") bottom center / cover;
      background: $color-dark;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background: $color-light;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* COOLSCULPTING SECTION */
/* -------------------------------------------------------------------------- */
.coolsculpting {
  padding: 40px 20px 40px 20px;
  overflow: hidden;
  background: url("../img/cool-sculpting-bg@2x.jpg") center / cover;

  .containerish {
    min-height: 400px;
    img {
      max-width: 90%;
      height: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 2rem;
    }
    .section-info {
      h3,
      h2,
      p {
        text-align: left;
      }
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BIO SECTION */
/* -------------------------------------------------------------------------- */
.bio {
  .containerish {
    padding: 40px 20px;
    background-image: radial-gradient(#ffffff, #f2f4f5);
    min-height: 200px;
    display: grid;

    img {
      margin-bottom: 2rem;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
.newsletter {
  min-height: 200px;
  align-items: center;
  .containerish {
    padding: 40px 20px;
    background: url("../img/newsletter-bg@2x.jpg") center / cover;
    display: grid;
    h3,
    h2,
    p {
      text-align: center;
    }
    p {
      margin-top: 0.5rem;
    }
    .form-control {
      margin-bottom: 0.5rem;
      border-radius: 0;
    }
    .form-control:last-child {
      margin-bottom: 0;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BOTOX AND FILLERS SECTION */
/* -------------------------------------------------------------------------- */
.botoxfillers {
  padding: 40px 20px;
  background: url("../img/botox-fillers-bg@2x.jpg") center / cover;

  .containerish {
    display: grid;
  }

  .botox > img,
  .fillers > img {
    margin-bottom: 2rem;
  }

  .botox {
    margin-bottom: 2rem;
  }
}
/* -------------------------------------------------------------------------- */
/* HYDRA FACIAL SECTION */
/* -------------------------------------------------------------------------- */
.hydrafacial {
  overflow: hidden;
  .hydra-big {
    background: url("../img/hydrafacial@2x.jpg") center / cover;
    height: 60vh;
  }
  .hydra-info {
    min-height: 200px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }

    .ui-btn-group {
      align-self: stretch;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* MEDICAL WEIGHT LOSS SECTION */
/* -------------------------------------------------------------------------- */
.medicalweightloss {
  // padding: 40px 20px;
  .containerish {
    display: grid;

    .col-left {
      background: url("../img/medical-weight-loss-bg@2x.jpg") center / cover;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .ui-btn-group {
        align-self: stretch;

        .ui-btn {
          width: 100%;
        }
      }
    }

    .col-right {
      background: url("../img/medial-weight-loss@2x.jpg") center / cover;
      height: 50vh;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* HORMONE OPT LOSS SECTION */
/* -------------------------------------------------------------------------- */
.hormoneopt {
  // padding: 40px 20px;
  .containerish {
    display: grid;

    .col-left {
      background: url("../img/medical-weight-loss-bg@2x.jpg") center / cover;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .ui-btn-group {
        align-self: stretch;

        .ui-btn {
          width: 100%;
        }
      }
    }

    .col-right {
      background: url("../img/hormone-opt@2x.jpg") center / cover;
      height: 50vh;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* EVENT SECTION */
/* -------------------------------------------------------------------------- */
.event {
  padding: 40px 0 0 0;
  .containerish {
    background: url("../img/event-bg@2x.jpg") center / cover;
    min-height: 100px;
    padding: 1rem;
    display: grid;

    .event-left {
      position: relative;

      img {
        position: relative;
        top: -25px;
      }
    }
    .event-right {
      h3 {
        font-style: normal;
      }
    }
  }
}
/* -------------------------------------------------------------------------- */
/* APPOINTMENTS SECTION */
/* -------------------------------------------------------------------------- */
.appointments {
  background: url("../img/appointment-bg@2x.jpg") center / cover;
  min-height: 400px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-control {
    border-radius: 0;
  }
}
